*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
}

.projectDiv{
  overflow-y: scroll;
  max-height: 30rem;
}

@media only screen and (max-width:750px){
  .projectDiv{
    max-height: 25rem;
  }
}